<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="app/scripts/services/user.js">
  
</file>



<file name="app/scripts/app.js">
  
</file>



<file name="app/scripts/controllers/signup.js">
  
</file>



<file name="app/scripts/controllers/login.js">
  
</file>



<file name="app/scripts/controllers/navbar.js">
  
</file>



<file name="app/scripts/services/auth.js">
  
</file>



<file name="app/scripts/controllers/settings.js">
  
</file>



<file name="app/scripts/directives/mongooseError.js">
  
</file>



<file name="app/scripts/controllers/main.js">
  
</file>



<file name="app/scripts/services/session.js">
  
</file>



</checkstyle>
